spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console # перейдите по http://localhost:8080/h2-console и укажите в JDBC URL: jdbc:h2:mem:testdb

server:
  port: 8080